{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/featherlight.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/index.css') }}"/>
{% endblock %}

{% block body %}
    <div class="korine-horizontal-gallery">
        <div class="col-xs-12 ph0">
            {% for theme in themes|slice(1, 1) %}
                <a id='theme-1' href="#" data-featherlight="#lightbox-1" class="col-xs-3 mt1">
                    <img class="img-responsive korine-gallery-image" src="{{ asset('uploads/theme/' ~ theme.imageName) }}" alt="{{ theme.name }}"/>
                </a>
            {% endfor %}
            {% for theme in themes|slice(2, 16) %}
                <a id='theme-{{loop.index + 1}}' href="#" data-featherlight="#lightbox-{{loop.index + 1}}" class="col-xs-3 mt1">
                    <img class="img-responsive korine-gallery-image" src="{{ asset('uploads/theme/' ~ theme.imageName) }}" alt="{{ theme.name }}"/>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="korine-flex-center">
        <img id="logo1" class="korine-logo" src="{{ asset('img/LOGO_KORINE.svg') }}" alt="logo korine"/>
        <img id="logo2" class="korine-logo hidden" src="{{ asset('img/LOGO_KORINE_NOIR.svg') }}" alt="logo korine"/>
        {% for theme in themes %}
            <div id="lightbox-{{loop.index}}" class="hidden">
                {% for image in theme.images %}
                    {% if image.imageName is defined %}
                        <img class="img-responsive korine-full-screen-img watermark" src="{{ asset('uploads/images/' ~ image.imageName) }}" alt="{{ image.title }}"/>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="korine-footer">
        <a href="#">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="#">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="#">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="#">contact@korine.fr</a>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.5.1/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/watermark.jquery.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            var logo = $('.korine-logo');
            var imgLogo1 = "{{ asset('img/LOGO_KORINE.svg') }}";
            var imgLogo2 = "{{ asset('img/LOGO_KORINE_NOIR.svg') }}";

            function blink(obj) {

                bgWhite(obj)
                sleep(50)
                bgBlack(obj)
                sleep(50)
            }

            function bgBlack(obj1) {
                obj1.css("background-color", '#000')
                logo.fadeOut(50, function() {
                    logo.attr("src", imgLogo1);
                }).fadeIn(50);
            }

            function bgWhite(obj1) {

                obj1.css("background-color", '#fff')
                logo.fadeOut(50, function() {
                    logo.attr("src", imgLogo2);
                }).fadeIn(50);
            }

            function sleep(milliseconds) {
                var start = new Date().getTime();
                for (var i = 0; i < 1e7; i++) {
                    if ((new Date().getTime() - start) > milliseconds) {
                        break;
                    }
                }
            }

            function makeBlink() {
                var i = 0;
                var blinkInterval = setInterval(function() {
                    blink(logo);
                    i++;
                    if (i > 10) {
                        clearInterval(blinkInterval);
                    }
                }, 300);
            }

            function slideGallery() {
                setTimeout(function(){

                    $(".korine-horizontal-gallery").animate({
                        left: 0
                    }, 3000, function() {
                        $(document).watermark({'path': "{{ asset('img/LOGO_KORINE.svg') }}", 'opacity': 80});
                    });
                }, 3000);
            }

            makeBlink()
            logo.slideToggle(800, 'linear', function() {
                var marginTop = $(".korine-flex-center").css("margin-top");
                logo.animate({
                    'marginTop': marginTop
                }, 1500, function() {
                    slideGallery()
                });
            });

            {% for theme in themes %}
                $('#theme-{{loop.index}}').on('click', function() {
                    $('.featherlight-content .hidden').removeClass('hidden');
                });
            {% endfor %}
        });
    </script>

{% endblock %}
