{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{{ asset('css/index.css') }}" />
{% endblock %}

{% block body %}
    <div class="korine-horizontal-gallery">
        {% for theme in themes %}
            <div class="dropdown">
                <img class="img-responsive korine-gallery-image"
                data-src="{{ asset('uploads/theme/' ~ theme.imageName) }}"
                alt="{{ theme.name }}"
                />
                <ul>
                    {% for image in theme.images %}
                        <li class="korine-dropdown-image">
                            <img class="img-responsive "
                            data-src="{{ asset('uploads/images/' ~ image.imageName) }}"
                            alt="{{ image.title }}"
                            />
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    <div class="korine-flex-center">
        <img class="korine-logo" src="{{ asset('img/LOGO_KORINE.svg') }}" alt="logo korine" />
    </div>
    <div class="korine-footer">
        <a href="#">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="#">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="#">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="#">contact@korine.fr</a>
    </div>
{% endblock %}

{% block js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="{{ asset('js/portfolio.pack.min.js') }}"></script>
    <!-- <script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script> -->
    <script type="text/javascript">
        $( document ).ready(function() {

            var p = $(".korine-horizontal-gallery").portfolio({
                showArrows: false,
            });
            p.init();

            $('.korine-logo').slideToggle(800, 'linear', function() {
                var marginTop = $(".korine-flex-center").css( "margin-top" );
                $('.korine-logo').animate({ 'marginTop': marginTop }, 1000, function() {
                    $(".korine-horizontal-gallery").animate({
                        left: 0,
                    }, 3000, function() {
                        // Animation complete.
                    });
                });
            });


            // TODO : Full page lightbox
        });
    </script>
{% endblock %}
